<ion-header translucent>
    <ion-toolbar>
        <ion-title>Cuenta corriente</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content style="margin-top: 20%">
    <ion-card style="margin-top: 10%">
        <ion-card-header class="text-center" type="text">
            <ion-card-title type="text" class="text-center"> Cuenta </ion-card-title>
            <br />
            <ion-label>
                <h2>ahorros</h2>
            </ion-label>
            <ion-label>
                <h2>{{cuenta}}</h2>
            </ion-label>
            <ion-label>
                <h2 class="text-right">saldo: $ {{saldo}}</h2>
            </ion-label>
        </ion-card-header>

        <ion-card-content>
            <ion-label>
                <h1 class="text-center">Movimientos</h1>
            </ion-label>
            <br />
            <ion-label>
                <h3>aun no tiene movimientos en su cuenta</h3>
            </ion-label>
        </ion-card-content>
    </ion-card>

</ion-content>