<ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>



            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div class="center">
                            <ion-button color="primary" (click)="Login()" fill="clear">
                                <ion-icon name="arrow-back-outline" color="dark" style="height: 25px; width: 25px;"></ion-icon>
                            </ion-button>
                        </div>
                        <h1 style="margin-top: 20%;">¿Olvidaste la contraseña?</h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <form [formGroup]="ValidationFormUSer" (ngSubmit)="registerUser(ValidationFormUSer.value)">
                            <ion-list>
                                <ion-label>
                                    Escribe el correo electronico asociado a tu cuenta
                                </ion-label>
                                <br/><br><br>
                                <ion-item>
                                    <ion-icon name="person" class="icon-login"></ion-icon>
                                    <ion-input name="user" type="text" required placeholder="Correo electronico"></ion-input>
                                </ion-item>
                            </ion-list>
                        </form>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" fill="solid" expand="full" (click)="registerUser(ValidationFormUSer.value)">
                            Enviar
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>

                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>